<div class="card card-cascade narrower">
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="../../../assets/images/chambre1.jpg"
         alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight waves-effect waves-light"></div>
    </a>
  </div>

  <div class="card-body card-body-cascade">
    <h3 class="pb-2 pt-1 title-card">Chambre 1</h3>
    <ul class="card-text">
      <li class="card-details">
        <i class="fa-solid fa-person"></i> 4 personnes
      </li>
      <li class="card-details">
        <i class="fa-solid fa-wifi"></i> WIFI gratuite
      </li>
      <li class="card-details">
        <i class="fa-solid fa-tv"></i> Télévision
      </li>
      <li class="card-details">
        <i class="fa-solid fa-person-biking"></i> Garage à vélo
      </li>
      <li class="card-details">
        <i class="fa-solid fa-shower"></i> Douche
      </li>
      <li class="card-details option">
        <i class="fa-solid fa-utensils"></i> <i>Option petit déj: 6€/personne</i>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <span class="start-to">A partir de</span>
    <span class="rate-number">62€</span>
    <span class="person-number">pour 4 personnes</span>
  </div>
</div>
<div class="card card-cascade narrower">
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="../../../assets/images/chambre2.jpg"
         alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight waves-effect waves-light"></div>
    </a>
  </div>

  <div class="card-body card-body-cascade">
    <h3 class="pb-2 pt-1 title-card">Chambre 2</h3>
    <ul class="card-text">
      <li class="card-details">
        <i class="fa-solid fa-person"></i> 4 personnes
      </li>
      <li class="card-details">
        <i class="fa-solid fa-wifi"></i> WIFI gratuite
      </li>
      <li class="card-details">
        <i class="fa-solid fa-tv"></i> Télévision
      </li>
      <li class="card-details">
        <i class="fa-solid fa-person-biking"></i> Garage à vélo
      </li>
      <li class="card-details">
        <i class="fa-solid fa-shower"></i> Douche
      </li>
      <li class="card-details option">
        <i class="fa-solid fa-utensils"></i> <i>Option petit déj: 6€/personne</i>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <span class="start-to">A partir de</span>
    <span class="rate-number">62€</span>
    <span class="person-number">pour 4 personnes</span>
  </div>
</div>
<div class="card card-cascade narrower">
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="../../../assets/images/chambre3.jpg"
         alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight waves-effect waves-light"></div>
    </a>
  </div>

  <div class="card-body card-body-cascade">
    <h3 class="pb-2 pt-1 title-card">Chambre 3</h3>
    <ul class="card-text">
      <li class="card-details">
        <i class="fa-solid fa-person"></i> 4 personnes
      </li>
      <li class="card-details">
        <i class="fa-solid fa-wifi"></i> WIFI gratuite
      </li>
      <li class="card-details">
        <i class="fa-solid fa-tv"></i> Télévision
      </li>
      <li class="card-details">
        <i class="fa-solid fa-person-biking"></i> Garage à vélo
      </li>
      <li class="card-details">
        <i class="fa-solid fa-shower"></i> Douche
      </li>
      <li class="card-details option">
        <i class="fa-solid fa-utensils"></i> <i>Option petit déj: 6€/personne</i>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <span class="start-to">A partir de</span>
    <span class="rate-number">62€</span>
    <span class="person-number">pour 4 personnes</span>
  </div>
</div>
<div class="card card-cascade narrower">
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="../../../assets/images/chambre4.jpg"
         alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight waves-effect waves-light"></div>
    </a>
  </div>

  <div class="card-body card-body-cascade">
    <h3 class="pb-2 pt-1 title-card">Chambre 4</h3>
    <ul class="card-text">
      <li class="card-details">
        <i class="fa-solid fa-person"></i> 4 personnes
      </li>
      <li class="card-details">
        <i class="fa-solid fa-wifi"></i> WIFI gratuite
      </li>
      <li class="card-details">
        <i class="fa-solid fa-tv"></i> Télévision
      </li>
      <li class="card-details">
        <i class="fa-solid fa-person-biking"></i> Garage à vélo
      </li>
      <li class="card-details">
        <i class="fa-solid fa-shower"></i> Douche
      </li>
      <li class="card-details option">
        <i class="fa-solid fa-utensils"></i> <i>Option petit déj: 6€/personne</i>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <span class="start-to">A partir de</span>
    <span class="rate-number">62€</span>
    <span class="person-number">pour 4 personnes</span>
  </div>
</div>
<div class="card card-cascade narrower">
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="../../../assets/images/chambre5.jpg"
         alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight waves-effect waves-light"></div>
    </a>
  </div>

  <div class="card-body card-body-cascade">
    <h3 class="pb-2 pt-1 title-card">Chambre 5</h3>
    <ul class="card-text">
      <li class="card-details">
        <i class="fa-solid fa-person"></i> 4 personnes
      </li>
      <li class="card-details">
        <i class="fa-solid fa-wifi"></i> WIFI gratuite
      </li>
      <li class="card-details">
        <i class="fa-solid fa-tv"></i> Télévision
      </li>
      <li class="card-details">
        <i class="fa-solid fa-person-biking"></i> Garage à vélo
      </li>
      <li class="card-details">
        <i class="fa-solid fa-shower"></i> Douche
      </li>
      <li class="card-details option">
        <i class="fa-solid fa-utensils"></i> <i>Option petit déj: 6€/personne</i>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <span class="start-to">A partir de</span>
    <span class="rate-number">62€</span>
    <span class="person-number">pour 4 personnes</span>
  </div>
</div>
