<div class="container-fluid">
  <div class="row first-section">
    <div class="mx-auto">
      <h2 class="mx-auto title">Où nous <span>situer</span> ?</h2>
    </div>
    <div class="container-fluid texts">
    <p class="text">
      Située au milieu des châteaux et des vignes de Touraine, Bréhémont est
      une charmante commune d'Indre-et-Loire (37).
      Cette dernière est classée au patrimoine mondial de l'UNESCO,
      le chanvre et la batellerie font partie de sa richesse historique.
    </p>
    <p class="text ml-auto">
      Entre la pêche et la Loire à Vélo, les activités culturelles ne manquent
      pas de faire le plaisir des grands comme des petits.
      Les communes voisines sont Langeais, Rivarennes, Azay-le-Rideau,
      Rigny-Ussé et Lignières-de-Touraine
    </p>
    </div>
    <div class="container map-infos">
      <div class="map">
        <div class="mapouter"><div class="gmap_canvas"><iframe width="644" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=6%20Avenue%20du%2011%20Novembre%2037130%20Br%C3%A9h%C3%A9mont&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net">fmovies</a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:644px;}</style><a href="https://www.embedgooglemap.net">google maps embed responsive</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:644px;}</style></div></div>
      </div>
      <div class="infos">
        <span>Restaurant - Chambres d'hôtes La Clef d'Or - Ô Délices de Sarah</span>
        <span>6 Avenue du 11 Novembre</span>
        <span>37130 - Bréhémont</span>
        <span>02.47.96.70.26</span>
        <a href="mailto:contact@laclefdor-odelicesdesarah.fr" class="btn btn-contact">contact@laclefdor-odelicesdesarah.fr</a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
