<div class="container mentions-legales">
  <div class="row">
    <h1>Mentions légales</h1>
    <h3>Publication</h3>
    <p>
      Le site Internet La Clef D'Or - Ô Délices de Sarah est édité par : la société <b>Agence Crépuscule</b>,
      domiciliée au 114 rue Nationale - 72000 Le Mans.
    </p>
    <ul>
      <li>Téléphone : +33 (0)2 47 96 70 26</li>
      <li>E-mail : contact@laclefdor-odelicesdesarah.fr</li>
      <li>Directeur de la publication : Sarah Pinard</li>
    </ul>
    <hr>
    <h3>Hébergement</h3>
    <p>Le site internet laclefdor-odelicesdesarah.fr est hébergé par la société IONOS :</p>
    <ul>
      <li>SARL au capital de 100 000 EUR</li>
      <li>RCS Sarreguemines B 431 303 775</li>
      <li>SIRET : 431 303 775 000 16</li>
      <li>Code APE: 6201Z</li>
      <li>Identification intracommunautaire : FR 13 431303775</li>
      <li>Siège social : 7 place de la Gare - BP 70109 - 57200 Sarreguemines Cedex</li>
    </ul>
    <hr>
    <h3>Conception</h3>
    <a href="https://www.agence-crepuscule.fr" target="_blank">www.agence-crepuscule.fr</a>
    <hr>
    <h3>Crédit Photos</h3>
    <ul>
      <li>Agence Crépuscule</li>
      <li>Unsplash</li>
    </ul>
  </div>
</div>
<app-footer></app-footer>
