<ng-container *ngIf="typeTemplate === 'hebergement' then casHebergement else casResa "></ng-container>

<ng-template #casHebergement>
  <ng-container *ngIf="!chambreNonDisponibleDateSelectionnee && !chambreNeConvientPasPourNombrePersonne">
    <div class="card card-cascade narrower" [ngsReveal]="{ reset: false}">
      <div class="view view-cascade overlay">
        <img class="card-img-top" src="../../../assets/images/{{chambre.imgName}}.jpg"
             alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight waves-effect waves-light"></div>
        </a>
      </div>

      <div class="card-body card-body-cascade">
        <h3 class="pb-2 pt-1 title-card">{{chambre.name}}</h3>
        <div class="d-flex align-items-center more ">
          <span  >Informations détaillées</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#302224" class="bi bi-plus-circle-fill animate" viewBox="0 0 16 16" (click)="showDetail()">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
          </svg>
        </div>
        <ul class="card-text   {{displayInfo ? 'showDetail' : 'hideInfo'}}">
            <li class="card-details animate__fadeInDown animate__animated">
              <i class="fa-solid fa-person"></i> {{chambre.capacity}} personnes
            </li>
            <li class="card-details animate__fadeInDown animate__animated">
              <i class="fa-solid fa-wifi"></i> WIFI gratuite
            </li>
            <li class="card-details animate__fadeInDown animate__animated">
              <i class="fa-solid fa-tv"></i> Télévision
            </li>
            <li class="card-details animate__fadeInDown animate__animated">
              <i class="fa-solid fa-person-biking"></i> Garage à vélo
            </li>
            <li class="card-details animate__fadeInDown animate__animated shower">
              <i class="fa-solid fa-shower"></i> {{chambre.isShower ? 'Douche' : 'Baignoire'}}
            </li>
            <li class="card-details animate__fadeInDown animate__animated option">
              <i class="fa-solid fa-utensils"></i> <i>Petit dejeuner inclus</i>
            </li>
        </ul>
      </div>
      <div class="card-footer">
        <span class="start-to">A partir de</span>
        <span class="rate-number">{{chambre.price}}€</span>
        <span class="person-number">pour {{chambre.capacity}} personnes</span>
      </div>
      <div class="btn d-flex flex-column">
        <button *ngIf="featureReservationIsOn" type="button" class="btn btn-primary" (click)="openModal(template)">Réserver</button>
        <span *ngIf="!featureReservationIsOn">Veuillez nous contacter pour réserver</span>
        <button *ngIf="!featureReservationIsOn" type="button" class="btn btn-primary">
          <a href="tel:0247967026">
          02.47.96.70.26
          </a>
        </button>
      </div>
    </div>



    <div class="msg-error">
      <span >{{message}}</span> <br>
      <span >{{messagePersonne}}</span>
    </div>

    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Réservation de la {{chambre.name}}</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <p>Vous allez être redirigé vers le formulaire de réservation, souhaitez-vous poursuivre ?</p>
          <div class="btn-wrapper">
            <button type="button" class="btn btn-primary" (click)="decline()" >Annuler</button>
            <button type="button" class="btn btn-default" (click)="confirm()" >Poursuivre</button>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>
</ng-template>
<ng-template #casResa>
  <div class="card card-cascade narrower">
    <div class="view view-cascade overlay">
      <img class="card-img-top" src="../../../assets/images/{{chambre.imgName}}.jpg"
           alt="Card image cap">
      <a>
        <div class="mask rgba-white-slight waves-effect waves-light"></div>
      </a>
    </div>

    <div class="card-body card-body-cascade ">
      <h3 class="pb-2 pt-1 title-card">{{chambre.name}}
        <svg (click)="showDetail()" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg>
      </h3>
      <ul class="card-text {{displayInfo ? 'displayInfo' : 'noDisplayInfo' }}">
        <li class="card-details">
          <i class="fa-solid fa-person"></i> {{chambre.capacity}} personnes
        </li>
        <li class="card-details">
          <i class="fa-solid fa-wifi"></i> WIFI gratuite
        </li>
        <li class="card-details">
          <i class="fa-solid fa-tv"></i> Télévision
        </li>
        <li class="card-details">
          <i class="fa-solid fa-person-biking"></i> Garage à vélo
        </li>
        <li class="card-details shower">
          <i class="fa-solid fa-shower"></i> {{chambre.isShower ? 'Douche' : 'Baignoire'}}
        </li>
      </ul>
    </div>

  </div>
</ng-template>




