<div class="container-fluid ">
  <div class="row">
    <h2 class="title title-mobile ">Bienvenue</h2>
    <div class="mx-auto left-image animate__animated animate__rotateInDownLeft  animate__slow">
      <img class="animate__animated animate__slideInLeft" src="assets/images/assiette.png" alt="" width="780">
    </div>
    <div class="ml-auto right animate__animated  animate__zoomIn animate__slow">
      <h2 class="title title-desktop">Bienvenue</h2>
      <p class="text ml-auto">Situés sur le bord de Loire à <b>Bréhémont</b>, nous vous proposons une <b>cuisine créative et traditionnelle française</b> incluant des
        spécialités régionales <b>sur place</b> et <b>à emporter</b> ainsi que des <b>chambres d’hôtes</b> afin de découvrir la région.</p>
      <div class="d-flex align-items-center wrapper-btn animate__animated  animate__zoomIn">
        <a class="btn btn-home-left" routerLink="/hebergement">Réserver en ligne</a>
        <a class="btn btn-home-right" routerLink="/restaurant">Découvrir</a>
      </div>
    </div>
  </div>
</div>
